[2019-05-06 12:58] manzinello opened #1 "FIX Edge"
Some bugs of modal that doesn't appear on WIN10 + Edge

[2019-05-06 13:56] manzinello opened #2 "Doppia possibilità per abilitare mailgo"
- link mailto
- class specifica

[2019-05-07 13:59] manzinello commented on #2
Implementato con anche possibilità di attivare link con href="#mailgo"

[2019-05-07 13:59] #2 closed

[2019-05-07 14:00] manzinello opened #3 "FIX CSS z-index"
Test the modal with some z-index elements that don't go under the modal-background

[2019-05-08 10:20] manzinello opened #4 "Modificare mailgo con webcomponents"

[2019-05-09 09:33] manzinello opened #5 "Modificare @latest di unpkg con la versione"

[2019-05-09 09:34] manzinello opened #6 "Add test"

[2019-05-09 22:00] #5 closed

[2019-05-10 06:30] dotconnor opened #7 "Copy button larger than the rest"
Currently, the padding for the copy button is more than the rest of the buttons, (`padding: 16px 10px;` vs `padding: 10px;`). Why?

[2019-05-10 07:17] manzinello commented on #7
I have thought that the **copy** will be the most used function in mailgo! I will wait some feedback on this and maybe then I will change it. What do you think about?

[2019-05-10 07:18] manzinello opened #8 "No more DOMContentLoaded"
At the moment mailgo works adding a listener on `DOMContentLoaded`, but it can create some problems with SPAs or content that render elements after the DOMContentLoaded. The new idea is to add a listener on every element mailto in the body (or anyone that respects mailgo-enabled elements) and show the mailgo-modal with the correct parameters. So instead of constructing a div after the mailto: elem

[2019-05-10 07:19] manzinello opened #9 "Change the includes method with start-with"
https://www.reddit.com/r/javascript/comments/bmlg68/mailgo_a_different_mailto/

[2019-05-10 09:48] manzinello opened #10 "Add supported browsers"
https://www.reddit.com/r/javascript/comments/bmlg68/mailgo_a_different_mailto/

[2019-05-10 13:22] #9 closed

[2019-05-10 17:36] aberkow opened #12 "allow escape key to close the modal"
it would be helpful to add an event listener to mailgo to close the modal when the escape key is pressed. that way it doesn't become a keyboard trap if someone enters the modal but doesn't want any of the options. I tested some code to do this locally and can submit a PR if you like.

[2019-05-10 18:51] manzinello commented on #12
Submit the PR, Adam, thank you!

[2019-05-10 18:53] aberkow commented on #12
cool project!

[2019-05-10 19:07] #12 closed

[2019-05-11 08:05] manzinello opened #14 "Add keyboard commands"
When then modal is showing
pressing "g" -> open Gmail
pressing "o" -> open Outlook
pressing Enter -> open
pressing "c" -> copy

[2019-05-11 08:35] manzinello opened #15 "Unlimited tabs on Chrome OS"

[2019-05-11 12:37] manzinello opened #16 "FIX z-index on Safari"
On Safari the modal in some cases goes under the background!

[2019-05-11 17:11] millette commented on #16
Dupe of #3 ?

[2019-05-11 17:20] manzinello commented on #16
They are a bit different, this issue is about also mailgo.js.org, the #3 has appeared on a website with particular z-index in its CSS. However, I am working on a new version of mailgo (0.3.0) that will change a bit its working (in particular with a really better init, it is the issue #8), I think that I will release it in a few days. The HTML structure will remain the same, so then I will work on

[2019-05-11 22:36] #16 closed

[2019-05-11 22:36] manzinello commented on #8
WIP in mailgo 0.3.0

[2019-05-13 09:29] manzinello opened #17 "to validateEmail or not to validateEmail?"
**validateEmail** is not present in the normal mailto links.
Mantain it in mailgo or not?

[2019-05-13 17:57] manzinello commented on #8
Released mailgo 0.3.0 (now all the mailto will be intercepted, also in SPAs)

[2019-05-13 17:57] #8 closed

[2019-05-14 06:17] nikolay-mihaylov opened #18 "Suggestion/Discussion of Accessibility & Progressive enhancement improvements"
Hey, Matteo!
First of all, great idea, kudos!

Wouldn't it better to have the default behavior of `mailto:` in the `href` attribute and parsing the oldschool attributes with `preventDefault()` instead of using `data-attr`?

**Pros:**
- Support for noJS users;
- 100% accessible as it's using default browser functionality.

**Cons:**
- Loosing the spam protection of email partitioning with `data-att

[2019-05-14 07:03] manzinello commented on #18
Hi Nikolay, thank you!

Actually mailgo does also this! There are more ways to enable mailgo, in the default installation (just importing the script) mailgo already intercepts the classic `mailto:` links and shows the modal (with also the optional parameters cc, bcc, subject and body). The no-spam installation are optional (but I think that it is recommended, for the spam prevention!).

Have I und

[2019-05-14 07:19] nikolay-mihaylov commented on #18
Hah, sorry! Guess it was too early for me to pay attention and comment..
Everything is there. Ignore me! :)

Have a great day!

[2019-05-14 07:19] #18 closed

[2019-05-14 07:39] manzinello commented on #18
No problem Nikolay! And thanks for your feedback!

[2019-05-14 14:53] manzinello opened #19 "multiple to, cc and bcc in spam-less"
add the possibility to use mailto: with multiple to email address, multiple cc and multiple bcc (at the moment it is not supported) for the mailto links. Think about the use of multiple fields in the no-spam usages

[2019-05-20 07:10] hugobqd opened #20 "📞 Add phone functionalities"
Great tool, thanks !

It would be great to have the same principle for phone links.
It could sent to default link, skype, sms: …
And spam protection.

[2019-05-20 12:31] manzinello commented on #20
A great idea! I will do it! Thank you!

[2019-05-20 15:28] manzinello opened #21 "new docs && demo"
Completely new docs (with **Docusaurus**) and demo page with different type of installation, WIP on branch `docs`, at the moment on `gh-pages` (mailgo.js.org) is online the old website

[2019-05-20 15:30] manzinello opened #22 "close modal after action?"
Close the mailgo modal after an action is performed? Like copy

[2019-05-20 15:30] #7 closed

[2019-05-20 16:16] manzinello commented on #14
Added with mailgo 0.4.0!

[2019-05-20 16:16] #14 closed

[2019-05-23 08:37] manzinello commented on #21
mailgo has been added to Docusaurus users! https://docusaurus.io/en/users

[2019-05-23 08:37] #21 closed

[2019-05-23 08:38] #1 closed

[2019-05-23 08:38] #3 closed

[2019-05-23 08:38] #10 closed

[2019-05-24 04:38] xuwupeng2000 opened #23 "Doesn't work with icon"
so I have an email icon and mailgo doesn't work on it.
[code]

[2019-05-24 04:39] xuwupeng2000 commented on #23
![Screen Shot 2019-05-24 at 4 38 40 PM](https://user-images.githubusercontent.com/2241982/58303066-7c4eef80-7e42-11e9-928c-bd90a974b8f0.png)

http://xuwupeng2000.github.io/

[2019-05-24 07:16] manzinello commented on #23
You are right, I've made now some tests and I have found the problem, I will fix it in the next release! Thank you!

[2019-05-24 08:51] manzinello commented on #23
Hi! I've fixed it in **mailgo v0.4.7**, released just now! I've tested it, please let me know if everything works now!

[2019-05-24 08:51] #23 closed

[2019-05-26 09:38] Van-Halen opened #24 "MouseEvent.Path not supported in Safari"
event.path.forEach on line 283 in 0.4.9 returns:
`typeError: undefined is not an object (evaluating 'event.path.forEach')`

See:
https://stackoverflow.com/questions/36845515/mouseevent-path-equivalent-in-firefox-safari

for two possible/working solutions.

[2019-05-26 10:51] manzinello commented on #24
thank you! I will fix it in the next release!

[2019-05-26 11:33] Van-Halen commented on #24
composedPath() nor event.path seem to work in MS Edge.

a probable crossbrowser solution would be a custom composedPath function:
https://stackoverflow.com/a/45061945

`var path = event.path || (event.composedPath && event.composedPath()) || composedPath(event.target);
    if (path) {
      path.forEach(function (element) {`

[2019-05-26 11:39] manzinello commented on #24
I'm trying just now with event.composedPath(), thank you for your help and testing! In the next release I will surely define custom composedPath as you say. Thank you!

[2019-05-26 12:26] manzinello commented on #24
@Van-Halen I've released mailgo 0.4.10 just now (with all your suggestions for this issue)! Let me know if you will test it! Thank you again.

[2019-05-26 12:27] manzinello opened #25 "Remove keyDown event listener"
Find the best way (and the best moment) to remove the keyDown event

[2019-05-28 12:57] #24 closed

[2019-05-28 12:58] manzinello opened #26 "Bug with body and subject"
Bug of not displaying body and subject in email

[2019-05-29 15:48] manzinello commented on #19
added in mailto links, to add in spam-less

[2019-06-01 08:49] manzinello opened #27 "Open Gmail and Outlook app from mobile"
Open Gmail and Outlook app when mailgo is used on mobile device

[2019-07-01 14:53] manzinello opened #28 "Gmail not opens with mailto parameters on iOS"

[2019-09-14 09:39] manzinello commented on #20
WIP!

<img width="284" alt="Screenshot 2019-09-14 at 11 35 43" src="https://user-images.githubusercontent.com/5347132/64906237-3618e700-d6e4-11e9-812c-a18b22ac5dd3.png">

Suggestions for the actions to perform?

[2019-09-16 22:30] manzinello commented on #25
Done! Will be in the next release.

[2019-09-16 22:30] #25 closed

[2019-09-16 22:33] manzinello commented on #22
Done!

[2019-09-16 22:33] #22 closed

[2019-09-16 22:34] manzinello commented on #20
In testing! Everything available in the next release!

[2019-09-16 22:34] #20 closed

[2019-09-17 08:00] hugobqd commented on #20
Great ! I'll try it on the next project

[2019-09-19 08:54] manzinello opened #31 "Telegram linking"
At the moment mailgo uses tg://, but it seems not to working very well. I am planning to manage username in data-telegram attribute to add the possibility to contact on telegram

[2019-09-19 11:44] manzinello commented on #31
Fixed, now to show Telegram you have to add a data-telegram attribute with the username

[2019-09-19 11:44] #31 closed

[2019-09-26 07:11] saratonite opened #32 "Copy not working"
Always getting undefined when copy paste

Expected :
should copy the email address

Note : Even the live demo getting undefined

[2019-09-26 13:08] manzinello commented on #32
Oh! Thank you! I will try and fix it! I have made a lot of changes in version 0.7.*, thank you for your report!

[2019-09-26 15:18] #32 closed

[2019-10-01 07:02] saratonite opened #34 "Change url with hash"
When Clicking action buttons [open in Gamil,copy ... etc] url hash change

[2019-10-03 17:30] srttk commented on #34
f787c10

[2019-10-03 17:30] #34 closed

[2019-10-11 12:31] michalens opened #36 "Add class selector"
Add the possibility to apply mailgo not to every `mailto:` link, but only to the ones that have a certain class (e.g. `class='mailgo'`)

[2019-10-14 13:05] manzinello commented on #36
Interesting! The goal of the script is to transform all the mailto in `mailgo` and with `class="no-mailgo"` you can always specify if you don't want to enable mailgo for a particular link, but I haven't think in the opposite behaviour... I don't think if it can be useful for some particular page with a lot of mailto links, because in the other cases you can specify the normal mailto with `no-mailg

[2019-11-19 19:54] ghost commented on #26
This is still happening - when attempting to open my default email client (Outlook.exe) only the "to" field is being populated. The rest of the URL parameters are being ignored. I confirmed by testing the complete link in your example page (https://mailgo.js.org/docs/examples#complete-less-spam-mailgo-example) but it is still not working. When I use the default mailto behavior without this library

[2019-11-19 21:52] manzinello commented on #26
Re-opened, i will work on this. Thank you.

[2019-12-20 03:19] aormsby opened #37 "How to add to Hugo site?"
Hi, I'm currently building a static site with Hugo and would like to add mailgo to my site. However, I've been unable to get it functioning. I've followed the examples on the mailgo pages by linking to the script in the head and body, even by downloading the script itself, but nothing seems to work. Has anyone tried this with a Hugo site yet? Am I missing something?

[2019-12-20 03:48] aormsby commented on #37
I have a guess - I'm not well versed in web stuff, but perhaps a static site simply won't support this kind of thing. I'll feel very noob-ish if that's the case. Please confirm for me if you can. Thanks. 😄

[2019-12-20 04:40] aormsby commented on #37
Never mind! I'm silly. I forgot that Hugo just updated to using Goldmark and therefore doesn't display inline HTML by default on its pages. For anyone curious how to fix this, open your site config file and add:

[code]
(toml version)

Then everything works fine!

[2019-12-20 04:40] #37 closed

[2019-12-20 06:17] manzinello commented on #37
Hi! Installation in Hugo is ok, now? I haven't added Hugo in https://mailgo.js.org/docs/installation-in-frameworks docs, would you like to help me adding it? You can submit a PR to https://github.com/manzinello/mailgo.js.org or you can write it here and I will add it to the official docs! Thanks, have a great day

[2019-12-20 09:02] aormsby commented on #37
Yeah, I'd love to! Contributing is fun. 👍

I'm not having any problems now, now. It seems like mailgo works great with Hugo, but I was stuck because hadn't found that one little config parameter. It's because they just switched their default markdown handler from Blackfriday to Goldmark and the settings are set by default to skip over inline html in markdown files. So I can make a note for users t

[2019-12-20 09:28] manzinello commented on #37
Whatever you want! You can submit a PR changing this file https://github.com/manzinello/mailgo.js.org/blob/master/docs/installation-in-frameworks.md with your solution/suggestions (adding a new title like React, Angular...), if you want to create a gist you can do it and then I will link it in the same doc page! Maybe the first solution is more clear, but no problem also for the second way. The ti

[2020-05-16 12:08] metahnetoutage commented on #36
Manzinello is right, purely with css such specification can be addressed. This is not an enhancement.

[2020-05-28 09:51] StefanoGagliardi opened #38 "BUG - Problemi di compatibilità su Browser con ES5"
Usando il plugin su Browser come safari o IE alcune feature javascript usate non sono supportate.
Bisognerebbe creare una dist con Babel in modo da portare la compatibilità ad ES5.

[2020-05-28 09:54] manzinello commented on #38
Grazie mille della segnalazione! Sto giusto rivedendo in questo periodo un po' tutto il progetto che sto completamente migrando a TypeScript e dando la compatibility al SSR dando la possibilità di fare l'init dello script quando si vuole (e non solo al DOMContentLoaded di default). Interessante segnalazione questa: mi sai dire di più riguardo alle funzionalità non supportate per caso? Babel è già

[2020-05-28 09:57] StefanoGagliardi commented on #38
Seguirà una segnalazione pià accurata ci mancherebbe!

Ne aproffito per condividere un paio di idee mentre usavo il plugin:
1. Carino avere la possibilità di tradurre: i18n
2. Possibilità di escludere alcuni social dal popup.
ES. IL numero non supporta whatsapp ci starebbe non fare il render.

Ottimo lavoro, complimenti!

[2020-05-28 10:02] manzinello opened #39 "i18n"

[2020-05-28 10:04] manzinello opened #40 "Possibility to exclude actions"
Though config

[2020-05-28 10:09] manzinello commented on #38
Entrambi i punti utili e credo che si potranno smarcare entrambi con un oggetto di config a cui sto lavorando proprio con la prossima grossa release, in cui si potranno aggiungere dettagli di configurazione sul modal e altro (sono ancora molto indietro in realtà). Ad ogni modo ho aggiunto ulteriori due issue con i tuoi consigli: #39 e #40. Credo proprio che si potranno chiudere entrambi appunto co

[2020-07-01 14:10] #39 closed

[2020-07-01 14:12] manzinello commented on #38
Ciao Stefano, nella nuova versione di mailgo ho aggiunto l'i18n e dovrei aver fixato i problemi relativi a ES5. Ho in effetti modificato moltissime cose nel progetto (migrato a TypeScript, rimosso totalmente gulp per solo webpack e molto altro) dalla 0.9.0 che ho rilasciato ieri (con dei bug che ho fixato oggi), se ti va di fare qualche test fammi sapere! Ogni consiglio è ben accetto (anche sulle

[2020-07-02 08:11] manzinello opened #41 "Dark mode"
Mailgo dark mode

[2020-07-10 09:34] kaknut commented on #17
I think it would be better to let it stay to keep it simple and have versatility.
Like + is used nowadays to use multiple mail, in future these might develop more.

[2020-07-10 09:38] manzinello commented on #17
Thank you for your suggestion! At the moment mailgo performs the **validateEmail**, maybe it is the time to think about a **validateTel** too

[2020-07-10 09:49] kaknut commented on #17
Yeah, having it as a option would be better.

[2020-07-13 14:29] Kvanrooyen commented on #41
If no one is working on this, I would like to make a start on this.

[2020-07-13 14:37] manzinello commented on #41
Hi, I'm already working on this (https://mailgo.dev/docs/dark-mode), but if you want to help / give some suggestion it would be awesome!

[2020-07-13 20:56] Kvanrooyen commented on #41
Is there anything that you need help with in particular? If not I think I will start by testing what you have and seeing if I can help out that way

[2020-07-14 06:37] manzinello commented on #41
Well a test of dark mode would be very useful! I've implemented it but not tested very well, thank you.
About the dark mode there is something that is not convincing me: the installation if mailgo is not imported in bundle but for example using a `<script>`. I want to give the possibility to use the dark mode also importing `/dist/mailgo.min.js` and so I create with webpack a `/dist/mailgo.dark.mi

[2020-07-14 06:43] manzinello opened #43 "Fix browser compatibility"

[2020-07-15 08:02] manzinello opened #44 "lang and forceLang"
About **i18n** the behaviour of mailgo is, by default, to use the `lang` attribute from `<html>`. If the lang exists in mailgo translations installed it will be the language of the mailgo modal. If the language is not specified or not exists in mailgo translations, then the **en** will be used, only if a `lang` is not specified in the configuration. If a `lang` is specified in mailgo config then i

[2020-07-15 15:57] Kvanrooyen commented on #41
I've had a chance now to test a little, during this time I have noticed a few things.

1. When using dark mode, the application names are all the same colour (see screenshot for reference) whereas in the default mode, they are coloured.
![Dark Modal](https://user-images.githubusercontent.com/17731202/87566627-33e43800-c6bb-11ea-9f21-81e0cabae06c.png)
![Default Modal](https://user-images.githubuser

[2020-07-15 16:56] manzinello commented on #41
Thank you so much Keagan! All your suggestions/impressions are really appreciated, in particular:
1. you have right, it could be a good idea to add a colour for the dark mode actions (very light maybe), the colour now appears only on hover;
2. thank you so much, I can work on this.

About the dark mode setting I will think about it... Maybe a developer/user want to apply the dark mode to all the `

[2020-07-15 17:15] Kvanrooyen commented on #41
I agree with you, I think a combination of the two would work best

[2020-07-16 12:30] manzinello opened #45 "A good RegEx for phone numbers"
I was working on `validateTel`, this is the **RegEx** I have added at the moment:

[code]

https://regexr.com/3c53v

It is good enough? I don't want it too restricted...

[2020-07-23 10:48] manzinello commented on #41
I've worked on the mixed solution (mailgo.dark.min.js or class="dark"), you can see the updated documentation here https://mailgo.dev/docs/installation#dark-mode and here also come examples https://mailgo.dev/docs/dark-mode.

I am also working on your suggestion about the colors also in dark mode!

[2020-07-23 10:58] tomma5o commented on #45
Hi @manzinello,
I've tested that regex with the most strange numbers in the world accordingly to this [Wikipedia page](https://en.wikipedia.org/wiki/National_conventions_for_writing_telephone_numbers)

That regex fails in some cases for some format numbers in South Korea, Germany, or Russia.

Normally fails with this formats:
`8 (123) 123-22-33 `(Russia)
or
`+49 (1234) 123456`(Landline phone numbe

[2020-07-23 13:53] manzinello commented on #45
Hi Tommaso, thank you so much for your work and your study on phone numbers.
Do you want to submit a PR with this change? I am totally agree with your proposal.
If you don't want to submit directly a PR I will substitute the RegEx in order to have it in the next release, thank you again.

[2020-07-23 16:50] tomma5o commented on #45
I'll open a PR asap 👍

[2020-07-23 18:45] #45 closed

[2020-07-23 22:21] tomma5o opened #48 "[proposal] Refactor Dom generation"
Hi again @manzinello,

First of all, thanks for this lib! I really appreciate the problem you want to solve!👍
after the fork, I've looked the code and I see the DOM generation can be improved in readability 👓

Here an example with a useful lib ([dom-chef](https://github.com/vadimdemedes/dom-chef)) that uses JSX for the DOM generation and saves you a lot of verbosities which is currently caused by

[2020-07-24 08:04] manzinello commented on #48
Hi Tommaso, I've read everything and see more about the library `dom-chef` you have mentioned.

Well, I want to create a **discussion about this proposal**: I think that it is very good and for me and the **legibility** (and the consequence: the probability of new contributions!) is so important.
However, I want to underline a characteristic of mailgo: **zero-dependency** and the effect of zero-de

[2020-07-24 08:06] #36 closed

[2020-07-24 10:23] katekalcevich opened #51 "Mailgo accessibility"
Hi, would you be interested in making mailgo accessible to people with disabilities? This would involve code changes to support users who only use a keyboard (no mouse) or a screen reader.

The expected keyboard interaction for modals is:

- when the modal opens, focus moves to an element inside the modal
- you can tab through interactive elements inside the modal, but you can't tab to anything ou

[2020-07-24 10:38] manzinello commented on #51
Hi Kate,

Absolutely **yes**!

I've already (just a couple of hours ago!) merged a PR about accessibility (this one:
https://github.com/manzinello/mailgo/pull/49) that I think that solves a lot of the points you have explained.
You can check directly the code merged in this PR to check your points, I really want to include all these things in the next release!

I am not an expert of accessibility:

[2020-07-24 14:03] manzinello commented on #41
Relased **mailgo 0.9.10** with a colorful dark mode and the new dark `class`. Thank you again!

[2020-07-24 16:23] Kvanrooyen commented on #41
I haven't had the chance to look into it yet - been incredibly busy at work lately. I should get some free time this weekend, and will give it look through. Glad I could be of some help!

[2020-07-24 16:28] manzinello commented on #41
No problem and thank you again for your suggestions!

Here 2 screens of the new (colorful) dark mode.

<img width="293" alt="mailgo-mail-dark" src="https://user-images.githubusercontent.com/5347132/88413397-68eb3b80-cddb-11ea-983f-3aab73284fcc.png">

<img width="291" alt="mailgo-tel-dark" src="https://user-images.githubusercontent.com/5347132/88413403-6be62c00-cddb-11ea-96de-ae60738136a7.png">

Ma

[2020-07-24 16:36] Kvanrooyen commented on #41
Looks good. I think you can close this issue, if I need to I can always open it again

[2020-07-24 19:59] katekalcevich commented on #51
Hi Matteo, I will have a look at PR #49 this weekend.

The modal should close if a user presses the escape key. The spacebar/enter trigger is for the close button. If it's a real button (e.g. <button> or <input type="submit"> that is the default behaviour. You can click a button or focus on it and press enter/space to click it without a mouse). So it's not the modal that needs to close when you pr

[2020-07-25 11:34] manzinello commented on #51
Very clear, thank you for the explanation!

I think that accessibility is very important for mailgo, I have released the new mailgo version **0.9.10** yesterday with the changes submitted in that PR. If you want to check the behaviour of mailgo modal from an accessibility point of view you can directly see [this](https://mailgo.dev/docs/examples) and [this](https://mailgo.dev/docs/examples-tel) ex

[2020-07-25 11:34] manzinello commented on #41
Thank you!

[2020-07-25 11:34] #41 closed

[2020-07-27 09:40] tomma5o commented on #48
Hi @manzinello,

Ok, I understand the **zero-deps**.
We can do it recreating a sort of `React.createElement` function that clean some verbosity, but I think 1.6kb of **dom-chef** is the right price to pay 😄
As a newcomer is really difficult to understand what/where dom is injected and I need to follow all the _appendChild_ chain,
probably some separation of concern helps but personally I prefer th

[2020-07-27 10:09] manzinello commented on #48
I have to think about the add a dependency really in deep. From the beginning of this library in many cases I was in trouble about this but then I have **always** chosen to use vanilla. Now I think that the source code is composed by too many lines (and a single file, I really want to change it) and in some point it must be changed in a more clear way, but the change of the **zero-dep** is complet

[2020-07-28 23:41] katekalcevich commented on #51
Hi Matteo, I had a look and it's pretty good now! I have a few suggestions. I looked at the code, but when it comes to making any changes myself, well I just am not that advanced of a developer! I'll leave it to you to implement.

1. **Modal bug?** On the Tel links example page, the modal is mostly working fine, but I can slip out of it if I tab backwards. It's not a huge deal, but you don't have

[2020-07-29 07:33] manzinello commented on #51
Thank you so much Kate!

I will check this, I think that could be a bug in example pages implementation.

Awesome suggestion, thank you so much. I will work on this, the colors I have used are the original of the brands, but your suggestions about these colors are very precious.

I will add the focus too!

Thank you again!

[2020-07-29 07:46] manzinello opened #53 "Deep linking"
I really want to open the correct apps on mobile, passing the parameters and not only open a link.

On mailgo it works already for WhatsApp (`wa.me`), Skype (`skype://`) and for Telegram (`t.me`).

Outlook and Gmail are opened through a url and I think that could be awesome to open Outlook and Gmail apps if they are installed on the device!

I found the deep link for Outlook: `ms-outlook://` (comm

[2020-07-29 09:34] geoffreycrofte commented on #51
Thanks @katekalcevich for the feedback on Accessibility :) (I've worked on it ha ha :D)

For the contrast / button style / size / focus I was about to suggestion modifications too. For small devices for instance the tappable area is not that big, but it's also a good usability practice.
I saw @manzinello was working on it. I'll wait a little bit then :)

[2020-07-29 11:26] manzinello commented on #51
Hi @geoffreycrofte! Yes, I've just started working on the suggestions of @katekalcevich, in particular about colors, font-size, focus.

Well, if for a better usability is required a different behaviour depending on screen size we can obviously use _media_ queries for example!

If you want to explain your considerations and suggestions: feel free to speak, I can directly work also on them (or maybe

[2020-07-29 12:09] katekalcevich commented on #51
@manzinello I could find which file has the CSS styles, but I'm happy to edit if you can point me in the right direction!

[2020-07-29 12:25] manzinello commented on #51
Sure! Mailgo uses Sass/SCSS, the file that manages all the styles of the library is this one: https://github.com/manzinello/mailgo/blob/master/src/mailgo.scss, that is built with webpack in CSS.

If you don't know Sass or you don't have time to work on it, please let me know so I can continue with changes. Otherwise submit directly you PR!

[2020-07-29 12:29] katekalcevich commented on #51
Well, I'll probably have time on the weekend, so it depends on how fast you want it. I do know Sass.

[2020-07-29 12:36] manzinello commented on #51
Perfect for the weekend, thank you!

@geoffreycrofte if you want to work and submit a PR with your accessibility changes, you can work on it! Just, please, if you can: explain them here before!

Thank you again!

[2020-07-29 13:16] geoffreycrofte commented on #51
I'll wait a little bit as you might already worked on it. I'll pull your work, work on it to test it and my PR will explain all of that and why :)

[2020-07-29 13:20] manzinello commented on #51
Perfect! Thank you!

[2020-07-29 14:03] manzinello opened #54 "Neumorphism?"
If I want to apply **Neumorphism design** to **mailgo**, which changes must be done from a design point of view?

What are the **PROs**? What are the **CONs**?

[2020-07-31 12:52] manzinello commented on #51
Today I will release **mailgo 0.9.14** because of some bugs with new css-loader (and with a new language and improvements in i18n).

Then I will not work on mailgo until next week so you are completely free to clone/pull the updated repo and do your PR! Thank you again!

[2020-08-05 07:33] exocode opened #57 "In Chrome/Brave and using Gatsby Mail link won't open"
I am using most recent Gatsby and Chrome browser. I copy/pasted the demo snippets into my app, as well the config from the docs. Live and Gmail works as expected, but the regular mail, won't.

gatsby-config

[code]

in your site put any Mail example from here: https://codepen.io/manzinello/pen/RmeQEr
[code]

(Any popup blocker or similar is deactivated)

You can also try your examples too, they do

[2020-08-06 14:59] manzinello commented on #57
Hi, thank you for your issue.

I want to understand better: the problem is just with Gatsby and Chrome or everywhere? The examples I have written in https://codepen.io/manzinello/pen/RmeQEr are working for me. I use also mailgo plugin on Gatsby and I have no problem, and I want to know what is happening. The behaviour if `open default` is the same of clic on a `mailto` link without mailgo, maybe i

[2020-08-06 15:05] exocode commented on #57
Funny enough: If I click on "open default" in Safari it jumps to Brave (respective Chrome), depending on my default browser. Same happens with Firefox (jumps to Brave). Without opening a new window or similar. No error in console, nothing. Normally "Apple Mail" (is an native app) opens.

[2020-08-06 15:09] manzinello commented on #57
Thank you for the details, really strange behaviour: I have to make more tests and maybe I have to work more on the `open default`, changing it a little bit to have it identical to a clic on a `mailto:` without mailgo.

Thank you so much for your report.

[2020-08-12 07:54] manzinello opened #58 "Support to sms://"
Add the support to link like

[code]

[2020-08-14 01:16] alpay opened #59 "Add a language format style for i18n"
Hi! I saw the project on Twitter and immediately fell in love with it :)

### Problem
I want to translate i18n strings to my native language (_Turkish_) but the grammar difference of my language with other latin languages makes it really hard.

**Example 1**
For English:  'open in Telegram' is coded like this -> `open_in_ + telegram`
Translation for Turkish should be: "Telegram ile aç". Need to be

[2020-08-23 19:00] manzinello commented on #59
Hi Alpay! Sorry for the delay, I was on vacation! The problem is clear and I really like your second proposal, I think that it is the best and more extendable solution for the problem. The problem in this specific language (and thank you so much to have raised this question) is the order but maybe with another language we will have different problems (maybe not only the order!), I think that your

[2020-08-24 10:20] Granik opened #62 "Load CSS separately"
We implemented a [drupal-module](https://www.drupal.org/project/mailgo) for this library.
We'd like to allow users not to load module CSS, but also use their own styles. That would be great if your library loaded CSS separately from JavaScript. Thanks.

[2020-08-24 20:55] puremana opened #66 "Add Yahoo Mail to :mailto Options"
Yahoo mail had a market share of [6.3%](https://www.litmus.com/blog/infographic-the-2019-email-client-market-share/) in 2019 and is supposedly rising in popularity. This is fairly close to Outlooks 9.1%.

I am not sure if this is possible with query params but it is atleast worth looking into in my opinion.

[2020-08-25 06:35] manzinello commented on #66
Thank you for the data of Yahoo usage, it is a very interesting point. I have made some research and it seems that Yahoo supports query parameters for the email recipient, subject, etc...

Thank you for your suggestion, I think that add Yahoo mail is a very good idea.

[2020-08-25 06:36] manzinello commented on #27
Duplicate of https://github.com/manzinello/mailgo/issues/53

[2020-08-25 06:36] #27 closed

[2020-08-25 19:24] manzinello commented on #66
Working on this! This is the first proposal:

<img width="321" alt="Screenshot 2020-08-25 at 21 18 25" src="https://user-images.githubusercontent.com/5347132/91218159-f8587700-e718-11ea-93e1-6d25661440ae.png">
<img width="322" alt="Screenshot 2020-08-25 at 21 18 33" src="https://user-images.githubusercontent.com/5347132/91218165-f989a400-e718-11ea-99e6-fa577e715277.png">

I'm not sure when it will

[2020-08-26 00:35] shadow81627 opened #67 "Lighthouse audit fail: Uncrawlable Links"
I am not able to use mailgo due to lighthouse audit for link crawling failing. Are we able to change the href or use a different html element like a button or maybe use an onclick attribute?

Search engines may use `href` attributes on links to crawl websites. Ensure that the `href` attribute of anchor elements links to an appropriate destination, so more pages of the site can be discovered. Learn

[2020-08-26 06:43] manzinello commented on #67
Thank you so much, really interesting point. I think that there are no problems if we set the `href` to a real destination and manage the click on the element with a simple `preventDefault()`. In this way I think that there will not be uncrawlable links. I will work on this, thank you. In the next release there will be the fix.

[2020-08-26 09:12] 6clicks opened #68 "auto translation ? Fr or fr-FR"
If I understand well. the script is based on the attribute lang in the html to choose a language defined in the i18n.json.
and I think it doesn't work in french with WordPress because by default the html tag for french is lang="fr-FR" .. and in the file it's only fr..

I don't know if am right ... any help to translate in french?

[2020-08-26 09:28] manzinello commented on #68
The case of `lang="fr-FR"` is a very good point. Mailgo would be already be available in French (see the `i18n.json`), however the case of lang different from "fr" is not managed at the moment. We have to work on this!

To see the French translation you can clone the repo and open the `index.fr.html` in the `examples` folder.

With configuration you can already set a language to be forced (so no m

[2020-08-26 09:42] manzinello commented on #68
I've implemented just now a really fast solution for this problem: https://github.com/manzinello/mailgo/commit/cffe354e35a3e1b66294c294fbadfecd33b8ed70.

There is a new `index.fr-FR.html` in `examples` folder with your case (https://github.com/manzinello/mailgo/commit/a1e780872f896238a55579dd9cd53172ce5fca82), it seems to work correctly now.

I have to test it in deep, if everything is ok it will

[2020-08-26 12:09] 6clicks commented on #68
Exellent ... it was fast ! it works like a charm ( I use WordPress but not the plugin ) .. I just update my mailgo.js.min at it's work .. thank U

[2020-08-26 12:23] manzinello commented on #68
Perfect! I close this issue. I will make more tests for the changes I have made, but thank you again for the problem you have raised.

[2020-08-26 12:23] #68 closed

[2020-08-26 12:27] manzinello commented on #51
Hi! I've added Yahoo Mail as a new possibility for mailto links. @katekalcevich or @geoffreycrofte can you make a check of the colour I have used? I have used the original Yahoo purple color but maybe there is a more correct purple color near the one I have added. You can directly submit a PR with the change, I'd like to use this issue for a11y questions, is it ok for you?

[2020-08-26 12:28] #43 closed

[2020-08-26 12:31] manzinello commented on #67
I've worked on this, everything seems to work correctly.
I have to do more tests but I think that this change can be part of the next mailgo release, thank you again!

[2020-08-27 15:33] manzinello commented on #66
Available and tested, it will be present in the next mailgo release.

[2020-08-27 15:33] #66 closed

[2020-08-27 15:34] #67 closed

[2020-08-27 15:34] manzinello commented on #67
The new `href` attributes for mailgo actions will be present in the next mailgo release!

[2020-08-27 18:18] katekalcevich commented on #51
Hi Matteo, I'll do a PR and brighten the Yahoo colour in dark mode. It's fine in the regular mode.

P.S. I used your code on a website I just launched: http://teakboutique.ca/contact-us.html

[2020-08-27 18:28] manzinello commented on #51
Perfect, thank you so much!

Thank you! For any type of problem or suggestion using it open an ISSUE or write me to matteo@manzinello.dev (well, I think that my email address is like everywhere in mailgo demos 😂)

[2020-08-27 18:30] #15 closed

[2020-08-27 19:42] manzinello commented on #62
Start working on this! I just want some help in configuring webpack to build and minify `src/mailgo.scss` in `dist/mailgo.css`

[2020-08-30 10:54] granik commented on #62
Do you already have webpack config drafts for this? I'm not a frontend developer unfortunately.

[2020-08-31 11:03] manzinello commented on #62
No, I'm sorry. I know `webpack` but I have never worked with it to create a CSS from an SCSS (without JS). In the first releases of **mailgo** I was using both `webpack` and `gulp` to achieve this. Then I have removed gulp. I just want to wait some help from someone more expert then me about webpack, if it is not possible then I will re-introduce `gulp` or `grunt` to develop this part and close th

[2020-09-01 09:42] manzinello opened #70 "Problems showing Chinese translation"
With Commit https://github.com/manzinello/mailgo/commit/6b6ef09d6a315084ecb01b6ff82b299bdcbb0797 **Chinese Traditional translation** has been added to **mailgo**. I have added `index.zh.html` in `examples` (https://github.com/manzinello/mailgo/commit/e86d00be9ddf4680c50d2fed71837dced9d7a68f) but I have problems showing the characters. Have I to change the `<meta charset="UTF-8" />` maybe?
What hav

[2020-09-02 09:38] granik commented on #62
Gulp will be OK, I think.

[2020-09-02 10:59] manzinello commented on #62
Re-introduced gulp to export **CSS**. CSS will be available in the next mailgo release in `dist` folder.

[2020-09-02 10:59] #62 closed

[2020-09-02 14:58] theikid opened #71 "i18n missing string"
When clicking on "copy" button the text switch to "copied" which has no i18n translation.

[2020-09-02 15:08] manzinello commented on #71
You are completely right. I will work on this. Thank you so much.

[2020-09-02 15:18] theikid commented on #71
Thanks. I also saw it switch back to non i18n"copy"  after it was copied

[2020-09-02 15:30] manzinello commented on #71
Thank you, it's another bug. I'll open another issue for this, thank you.

[2020-09-02 15:31] manzinello opened #72 "Switch back to i18n "copy" after copy action"
(from another issue)

[2020-09-02 15:33] manzinello commented on #71
Opened also https://github.com/manzinello/mailgo/issues/72

[2020-09-02 18:42] manzinello commented on #71
Fixed, everything will be in the next **mailgo** release, thank you so much. Now "copied" must be translated (at the moment "copied" is used but there is the possibility to translate it in `i18n.json`)

[2020-09-02 18:42] #71 closed

[2020-09-02 18:42] manzinello commented on #72
Fixed also this, everything will be in the next **mailgo** release, thank you so much.

[2020-09-02 18:42] #72 closed

[2020-09-02 18:45] manzinello commented on #70
Seems to be fixed now...

[2020-09-02 18:56] #70 closed

[2020-09-02 19:08] theikid commented on #71
Thanks, can i help with the french translation somehow ?

[2020-09-02 19:10] manzinello commented on #71
Sure! Submit directly a PR with "copied" translated in `i18n.json` file under **fr** attribute! Thank you!

[2020-09-03 11:43] manzinello commented on #51
@katekalcevich I am waiting you **PR** for the **Yahoo** color! Just to know: when you can submit it? Because in the meantime I am releasing a new version (with a lot of changes), I would like to have the new color in it! Thank you so much! 👍

[2020-09-03 12:25] katekalcevich commented on #51
Sorry @manzinello I thought I already submitted it! I'll try again right now.

[2020-09-03 12:29] manzinello commented on #51
@katekalcevich no problem!

[2020-09-03 15:24] manzinello commented on #51
Hi again @katekalcevich, sorry: is there maybe some problem in submitting PR? If so, tell me I will investigate the matter. Thank you!

[2020-09-03 16:47] katekalcevich commented on #51
Only problem @manzinello is I'm not very good with Git! I lost the updates I had done before so I had to update my fork to match your master and recheck all the colours. You should have the PR now.

[2020-09-03 17:45] manzinello commented on #51
@katekalcevich PR received! Thank you so much!

[2020-09-07 13:57] vanaf1979 opened #74 "Outlook link not working correctly"
If i click on the outlook link the browser opens this link https://outlook.live.com/owa/?path=/mail/action/compose&to=example%40example.com but i land on the outlook homepage. I can then login, but then i don't get any compose window.

If on the other hand i change the url to https://outlook.office365.com/owa/?path=/mail/action/compose&to=example%40example.com (Note the other domain name) i do get

[2020-09-07 13:59] manzinello commented on #74
Thank you so much! I will make some tests. I am sure that I have changed the domain from `outlook.office365.com` to `outlook.live.com` a lot of time ago but maybe in the meanwhile something has changed. Thank you.

[2020-09-07 18:09] manzinello commented on #74
I'm making some tests. It seems that Microsoft makes a redirect to `https://outlook.live.com/mail/0/deeplink/compose/` link. However, in my tests `outlook.live.com` works correctly, maybe you have a custom domain with Office365 or a simple `outlook.com` (or similar) email address? I think that the point is this one...

[2020-09-08 19:30] manzinello commented on #40
Available in the next mailgo release!

[2020-09-10 15:25] RaymondFallon commented on #51
This thread is a really awesome example of collaboration on the accessibility front. Kudos to all of y'all!

[2020-09-11 07:43] #38 closed

[2020-09-11 12:54] manzinello commented on #51
Hi everyone, I've just pushed this commit (https://github.com/manzinello/mailgo/commit/1033b95dd388ab17de2ceb921ccb529324e2bbad) with some changes in the structure of **colors** in SCSS files. The problem is that every `background-color` repeats the color so I have changed it to use the variables defined on top of the file.

For example this

[code]

has been changed in this

[code]

Well, I've no

[2020-09-13 10:29] katekalcevich commented on #51
Only the Yahoo dark color needed to change to have enough contrast. I've submitted a pull request. I also added a separate commit with a static file for color contrast testing (up to you if you want to pull that in or just take the first commit). It makes it easier to run a browser extension to test all the colours at once, but would need to be manually updated every time colours change.

[2020-09-13 10:34] manzinello commented on #51
As always, thanks @katekalcevich! Good for html file, I will just move it in another folder (maybe a `test` folder or in `examples`)! Maybe we will think about an html with just `<div>`s and the import of `mailgo.css` from `dist` folder, I will think about it, at the moment it's ok to change the colour manually in html file.

[2020-09-13 10:37] manzinello commented on #51
Accepted PR, I've created a `test` folder for these types of test! Thank you again.

[2020-09-15 11:38] Granik opened #82 "Multilingual dist files"
We created a [drupal module](https://www.drupal.org/project/mailgo).
Thanks for improving the functionality with nocss-mode.

There is another problem. I cannot change module language, which depends on user's website language. Is it possible to add a file for each language to dist folder? I mean smth like "mailgo.en.min.js, mailgo.en.nocss.min.js, ..." etc. It would be perfect.

I could build thes

[2020-09-15 12:37] manzinello commented on #82
Everything you are saying can be done very easily through **Mailgo Configuration**! https://mailgo.dev/docs/configuration

`MailgoConfig` is something present in mailgo since a lot of time ago and `lang` was one of the very first attribute you can set, I think that was added several months ago.

Sorry, but the solution of several files in `dist` folder isn't practicable. At the moment **mailgo** h

[2020-09-15 12:37] #82 closed

[2020-09-15 17:04] tr1s opened #83 "Not working at all in any browser! (Gatsby)"
I installed the package, tried with and without dark mode, nothing. I click the mailto: link and nothing happens. No errors in the console either. Tried with Firefox, Chrome, Safari.

The moment I remove mailgo from the gatsby-config my normal matilto: links work again.

Anyone else?

[2020-09-15 19:11] manzinello commented on #83
I've seen that you have opened an issue in **gatsby-plugin-mailgo** https://github.com/manzinello/gatsby-plugin-mailgo/issues/1. I close this at the moment and reply on gatsby-plugin-mailgo. Then if it is a problem with mailgo JS library we will re-open this, ok?

[2020-09-15 19:11] #83 closed

[2020-09-15 19:21] tr1s commented on #83
Sounds good!

[2020-09-16 12:29] manzinello commented on #74
Hi @vanaf1979, any update about this? Thank you.

[2020-09-17 07:11] manzinello opened #84 "window is not defined in Gatsby"
From https://github.com/manzinello/gatsby-plugin-mailgo/issues/1#issuecomment-693801072 @AlexFernando

[2020-09-17 17:34] AlexFernando commented on #84
Hi again @manzinello , thanks for your answer.

1.- I tried the following code but I got the following error while trying to use gatsby build. You can check both in the pictures.

![err_4](https://user-images.githubusercontent.com/9219348/93505861-f2fede80-f90a-11ea-95f8-71d78d93bb7f.png)
![mailgo_err3](https://user-images.githubusercontent.com/9219348/93505864-f4300b80-f90a-11ea-816b-5e9d7e9c43d9

[2020-09-17 20:50] manzinello commented on #84
Hi @AlexFernando, I really want to help you to solve the problem. I take this opportunity maybe to be more clear in the docs about SSR, because in fact I have faced the problem just in Next.js.

Well, about your first screenshot everything seems to be ok, in the second screen I think that there is something wrong with React Hook usage, not in particular with **mailgo**. I have used that example wi

[2020-09-18 16:52] AlexFernando commented on #84
Hi @manzinello , sorry for my late reply and also for taking your time. In the end, I didn't realize that  1- I only had to install gatsby-plugin-mailgo, 2.- add it to gatsby-config.js (which I did), and then just use it in my Button component. Instead, I did once more unnecessary step: 3.- `import "mailgo/dist/mailgo.min.js"`, and the problems started right here, when I deleted that, it worked, a

[2020-09-18 17:20] manzinello commented on #84
No problem! I leave you also here the link to repository **gatsby-mailgo-example** (https://github.com/manzinello/gatsby-mailgo-example) and its deploy (https://gatsby-mailgo-example.netlify.app), I have made it as an example of `gatsby-plugin-mailgo` with also a `mailgoConfig` (in particular the dark mode). I'm just happy that everything works now, maybe I will try to be more clear on the docs (a

[2020-09-18 17:20] #84 closed

[2020-10-06 02:00] NTBuddy opened #85 "Duplicate ID"
The Yahoo mail ID is currently m-outlook and should be m-yahoo. Under testing for WCAG it caught this. The WCAG guidance on page parsing and 'id' attributes linked here: https://www.w3.org/WAI/WCAG21/Techniques/html/H93

<a id="m-outlook" href="#mailgo-yahoo" class="m-open m-yahoo">open in <span class="w-500">Yahoo Mail</span></a>

should be

<a id="m-yahoo" href="#mailgo-yahoo" class="m-open m-ya

[2020-10-06 06:55] manzinello commented on #85
You are completely right. I've fixed it, it will be in the next release of mailgo. Thank you so much!

[2020-10-06 06:55] #85 closed

[2020-10-06 13:06] yoavaviram opened #86 "Using Mailgo Dynamically"
How should I go about calling mailgo with a mailto link i'm generating dynamically?

Here's the code:
https://github.com/your-digital-rights/yourdigitalrights.org/blob/2d3cdffb3d76de478a83634124572f4e667489d8/src/components/PersonalInfoForm/index.js#L94

[2020-10-06 13:23] manzinello commented on #86
A really really interesting point. At the moment **mailgo** works on clicks or interactions with elements in which there is a `mailto:` (or tel) link, but it not fires in case there is, like in the code you have posted, a `window.open([LINK MAILTO]);`. I think that I will work to cover also this case.

Sorry, but for its implementation mailgo is at the moment not able to intercept the `window.open

[2020-10-06 13:24] manzinello commented on #86
I am open to any type of idea to cover this very particular case. If you have some suggestions to make it better please let me know, you can also submit a PR referring to this ISSUE, thank you again.

[2020-10-06 13:45] yoavaviram commented on #86
Thank you for the quick response! Exporting a method that can be called directly from mailgo would be grate for my use case. Sorry but I don't trust my JS skills enough to submit a PR... Anyway I'll be looking forward.

[2020-10-06 13:49] manzinello commented on #86
No problem for the PR, I can work on this!
I think that export a method would be perfect (maybe also for other use cases), I will work on this, when I make changes I refer to this issue. Thank you again for the good point.

[2020-10-06 13:50] waldorfpatriot opened #87 "responsive setting"
My impression is, that ppl use their mail apps on desktop not as strong as on their mobile phones. So I would like to activate the plugin on desktop, but not on mobile or tablet. Is there a hack to do that? Would you be willing to implement a responsive setting?

[2020-10-06 14:07] manzinello commented on #87
Interesting point. No hack at the moment to do this, but I can work on this. Well, I think that the best way to do this is to make it in JS taking the user agent, not just with the screen dimensions... What do you think about? Thank you for this suggestion.

[2020-10-06 14:59] waldorfpatriot commented on #87
thank you for your rapid response!
user agent is the cleanest solution, I agree.

[2020-10-06 19:34] manzinello commented on #86
Started working on this, I think that the method will be called `mailgoDirectRender` with a `string` parameter (the URL, mailto or tel) and the mailgo modal will appear after the call. I have to work and test this new way to render the modal.

[2020-10-07 08:33] yoavaviram commented on #86
Amazing! Thank you for the amazing support. I'd love to support you back in some way. Let me know if there's a way to donate to the project.

[2020-10-07 12:08] manzinello commented on #86
I have to work a lot on this but everything you have suggested will be in the next release. Something already works but I have to test it in deep. I am working on the **mailgo examples** repository, when something is ready I will post it a complete example (with webpack in this case): https://github.com/manzinello/mailgo-examples.

Mailgo has an **Open Collective** page: https://opencollective.com

[2020-10-08 08:24] yoavaviram commented on #86
Thanks, I've made a small contribution (sorry, we're a small nonprofit with a tiny budget). Once we have start using mailgo I'll give it credit on the website as one of our [sponsors](https://yourdigitalrights.org/about).

[2020-10-08 08:24] yoavaviram commented on #86
Any idea when the next release will be out?

[2020-10-08 08:27] manzinello commented on #86
Thank you so much, really! Today is also my birthday, so thank you again.

Next week I guess, I am making a lot of tests at the moment. When I release it I will write the release here (and maybe close the issue!).

[2020-10-08 12:36] manzinello commented on #86
Just to keep you updated about the work, here the folder where you can see an example of **mailgo direct render** (of a `mailto` URI passed as a parameter of the new method `mailgoDirectRender`) when there is a clic on a button: https://github.com/manzinello/mailgo-examples/tree/master/example-direct.

Javascript file is this one: https://github.com/manzinello/mailgo-examples/blob/master/example-d

[2020-10-09 09:03] yoavaviram commented on #86
Happy belated birthday! I'll take a look at the examples.

[2020-10-15 18:57] manzinello commented on #86
**Mailgo 0.10.0 released**! Here the initial docs for the new Direct Render: https://mailgo.dev/docs/direct-render.

`mailgoDirectRender` is also available as window function from mailgo 0.10.0 https://mailgo.dev/docs/window-functions.

I close this issue, if you have something else to suggest or any type of comment feel free to open a new one. If something is not working with `mailgoDirectRender`

[2020-10-15 18:57] #86 closed

[2020-10-15 18:58] #44 closed

[2020-10-15 18:59] manzinello commented on #58
Added official the support in `0.10.0`, I have to work on a better UX for this type of modal.

[2020-10-18 22:01] helloalexdodd opened #89 "Vue/Buefy mailgo doesn't work in production."
Mailgo is working as it should in development mode but when I test in production, rather than open the mailgo window it attempts to redirect the url to `.../#/mailgo`. I have tried the different configurations in the docs but with no luck. Below is my dependencies as well as my implementation. I am using netlify for hosting, as well as Vue and Buefy.

package.json
[code]
main.js
[code]
implementat

[2020-10-19 06:45] manzinello commented on #89
Thank you so much for your bug reporting. Unfortunately, I don't know Vue and in fact in the Docs there is still a `// TODO` (https://mailgo.dev/docs/frameworks#vue), but I will try very soon to reproduce an installation with Vue and Buefy and return back here with some details, maybe I will create an example site with mailgo (like what I have already done with Gatsby).

Just a question: have you

[2020-10-19 13:14] helloalexdodd commented on #89
Hey that worked! You end up having to do it in App.vue rather than main.js, but that totally works. If you like I'd be happy to create and take on the task of updating the docs for Vue.

[2020-10-19 13:19] manzinello commented on #89
Hi Alex, I was working on a completely new repository for Vue just for this issue! I'm happy you have solved, here you can find my basic implementation https://github.com/manzinello/vue-mailgo and here the same repository deployed https://vue-mailgo.netlify.app/. Well, I have worked in `main.js`, you have find another solution? I don't know Vue, if you want to update the docs of mailgo.dev you are

[2020-10-19 15:52] #89 closed

[2020-10-21 11:00] yoavaviram commented on #86
Thank you! I'll give it a go.

[2020-10-21 11:04] yoavaviram opened #90 "Question: hide body and subject in modal"
Hi Matteo,

Thanks for the direct render functionality. I just tested it and it works as I had hoped!

I've got one unrelated question. What would be the best way to hide the subject and body in the modal? In my case they are both quite lengthy and therefore it does not make sense to display them.

Thanks,

Yoav

[2020-10-21 11:06] manzinello commented on #90
Interesting suggestion. Maybe I can work on new attributes in MailgoConfig for this!

[2020-10-21 11:59] yoavaviram commented on #90
That would be awesome!

[2020-10-21 12:04] manzinello commented on #17
validateEmail and validateTel are now options in MailgoConfig! By default they are both true.

[2020-10-21 12:04] #17 closed

[2020-10-22 23:12] aminimalanimal commented on #26
Our team just ran into this today.

Taking a quick glance at mailgo.ts, it looks like subject is only appended to the URL for Yahoo and Outlook links, and not Gmail and default. @manzinello, is that all that's happening, or have you found something more complex going on? If it's as simple as it looks, I could take a stab at resolving it.

[2020-10-23 06:56] manzinello commented on #26
Hi @aminimalanimal, in these days I am working about this. About the "default" you are right, but I have pushed just yesterday a possible fix (this commit: https://github.com/manzinello/mailgo/commit/eefcc0ea829c95f8c191a3668f0b48b6c8ad2510). However, about the Gmail it was more complex but I am testing a new solution that I have applied in this commit (https://github.com/manzinello/mailgo/commit/

[2020-10-23 20:42] aminimalanimal commented on #26
I believe I was looking at it just before your latest commits.

[2020-10-26 11:31] aquelfulano opened #91 "Doesn't work in links inside dynamically created elements"
Hi, and thanks for this tool. Very useful.

I'm discovering it just now, and I'm trying it in a new web I'm creating in Wordpress.
It works fine, but I've just found an issue, and in the documentation I didn't find the solution.

In my case, the issue arrives when I put a mailto link inside a dynamic created element. I mean an element that is not rendered in the very first page rendering but later

[2020-10-26 12:11] manzinello commented on #91
Hi, thank you for your message! Well, mailgo actually not fires at a page load but it intercepts the clicks on possible `mailto` and `tel` links, so infact the case of a dynamical rendering of a mailto elements already should work (it works in SPAs where the routes are changed dynamically, for example), I think that something else is not working here maybe. I want to go deep in this problem: are y

[2020-11-06 09:43] pcjmfranken commented on #74
The`outlook.live.com` link seems to work fine for consumer accounts (`@outlook.com`, `@live.com`, etc.), but only the `outlook.office365.com` link successfully opens a composition screen for my Office365 for Business account.

[2020-11-06 09:47] manzinello commented on #74
You are right. In fact it is a really strange situation: we really don't know if the user is using a classic `@outlook.com` email address or an Office365 account. Really difficult to solve this at the moment, I have to study the situation more in deep, you have suggestions? A simple solution is add another button with `Outlook Office365` that opens the `outlook.office365.com`, I really don't like

[2020-11-06 09:48] manzinello commented on #91
Any update about this @aquelfulano? Thank you.

[2020-11-06 10:24] pcjmfranken commented on #74
I believe it greatly depends on the individual use case. On many sites/pages that are solely targeting either B2C or B2B visitors it might be fine to just use one or the other. I'm sure there are many mixed cases as well where a distinction between the two seems unavoidable.

Admittedly I'm not actually a user of this (very neat!) project. Just ended up here on my quest for an Office365-specific m

[2020-11-06 10:31] manzinello commented on #74
I think you are right.

No problem, I am just really open to suggestions.

Well, I think that maybe I can solve this also with `MailgoConfig`. By default the modal will use `outlook.live.com`, with a configuration parameter can be chosen to override it with `outlook.office365.com` or to display also a different button with the Office365 possibility. In this case everyone choose what he/she wants.

[2020-11-11 20:32] pierrerocket opened #92 "Tel links with extensions"
Hello, I was wondering if your script does anything with tel links featuring extension numbers.

Some phones will take a comma followed by number to indicate a pause to answer before dialing the extension.  Some want a p like `<a href="tel:123-456-7890p123">CLICK TO CALL</a>` for the pause.  Some phones will attempt to dial the p as its alphanumeric equivalent.  It's all a big mess.  If your plugi

[2020-11-12 13:37] manzinello commented on #92
Oh! Thank you so much for your suggestion! I will surely work on it, at the moment the RegEx that finds if a phone number will fail with `tel:123-456-7890p123`, I will add it. Thank you!

[2020-11-16 15:47] yoavaviram commented on #90
Hi @manzinello , have you made any progress on this one?

[2020-11-16 17:02] manzinello commented on #90
Hi @yoavaviram, at the moment I am testing a new version of mailgo (`0.11.0`), that contains already a lot of changes.
After the release i will work on enhancements like this one, absolutely.

[2020-11-17 10:23] manzinello commented on #87
Added from mailgo `0.11.0`! Here the documentation: https://mailgo.dev/docs/responsive

[2020-11-17 10:23] #87 closed

[2020-11-24 17:53] louiechristie opened #93 "mailgo modal doesn't open when clicking on telephone like if you exclude a telephone action e.g. whatsapp using window.mailgoConfig"
## Expected Behavior

mailgo modal opens when clicking on telephone like if you exclude a telephone action e.g. whatsapp using window.mailgoConfig

## Actual Behavior

mailgo modal doesn't open when clicking on telephone like if you exclude a telephone action e.g. whatsapp using window.mailgoConfig

## Steps to Reproduce the Problem

Add this to the head of a HTML file:

[code]

## Workaround

Inc

[2020-11-24 17:54] louiechristie commented on #93
Fixed itself, either it's an intermittent issue or I made a mistake.

Test passing:
https://github.com/louiechristie/mailgo/blob/master/examples/index.windowconfig.html

[2020-11-24 17:54] #93 closed

[2020-11-24 18:22] manzinello commented on #93
Hi @louiechristie, I will make anyway more tests with `tel` and `actions` attributes in head. In the example `index.windowconfig.html` I have used only the scripts added in the end of the body.

[2020-11-29 21:32] manzinello commented on #92
Added the "p" parameter in `validateTel`, maybe I will work for a better displaying of the numbers after the "p".
Here the new Regexr: https://regexr.com/5h958

[2020-11-29 21:53] manzinello commented on #90
I've worked on this! There will be the new `details` attribute in `configuration` where you will be able to show/hide elements of the details from the modal (cc, bcc, body and subject for emails, msg for tel).
I am working on this (and testing it), you can check it in `index.windowconfig.html` in examples removing the comment on cc (https://github.com/manzinello/mailgo/commit/2bce02bc5d716584c0ea7

[2020-11-29 21:57] manzinello commented on #26
I close this issue now, please if something is not working again re-open it!

[2020-11-29 21:57] #26 closed

[2020-11-29 22:09] manzinello commented on #74
I have worked on this! The new `office365` config parameter will be in the next release!

[2020-11-30 09:46] yoavaviram commented on #90
Amazing,  when do you think it will be released?

[2020-11-30 11:10] manzinello commented on #90
I will try to release a new mailgo version with these new features within the end of the week!
I will keep you updated about this directly in this issue.

[2020-11-30 13:11] yoavaviram commented on #90
Thanks!

[2020-12-03 11:05] manzinello commented on #92
Released mailgo 0.11.2 with this enhancement!
I close this issue, if there is something else please open a new issue.

[2020-12-03 11:05] #92 closed

[2020-12-03 11:08] manzinello commented on #90
Relased mailgo 0.11.2 now with the new `details` attribute in configuration, here the documentation: https://mailgo.dev/docs/configuration#details.
I close this issue, if there is something else please open a new one!

[2020-12-03 11:08] #90 closed

[2020-12-03 11:08] manzinello commented on #74
Relased mailgo 0.11.2 now with the new `office365` attribute in configuration, here the documentation: https://mailgo.dev/docs/configuration#office365.
I close this issue, if there is something else please open a new one!

[2020-12-03 11:08] #74 closed

[2020-12-04 10:31] yoavaviram commented on #90
Amazing!

We're now using mailgo in production (for example when you submit the form at the top of this [page](https://yourdigitalrights.org/d/facebook.com). I've also added you to our list of sponsors on our [about](https://yourdigitalrights.org/about/) page.

A few questions and comments:

1. It seems like the direct render option parses configuration in a different way to the normal initializat

[2020-12-04 10:38] manzinello commented on #90
Thank you so much for your comments! I will check it and maybe will open single issues for them. In particular the first 2 seems to be bugs, so I have obviously to check them in deep. If you want to open single issues for them feel free to to it, otherwise I will do it.
Have a great day,

[2020-12-17 13:09] yoavaviram commented on #90
Another issue: clicking on 'copy' only copies the recipient's email address.

[2020-12-17 13:19] yoavaviram commented on #90
Also, the subject line opens up as the "to" address in gmail. This makes the librafry unusable for us in the current state.

[2020-12-17 13:22] yoavaviram opened #95 "Subject line opens up in 'to' address in gmail / direct render"
I am the following configuration:
[code]

When an email is opened in Gmail the designated subject line text appears in the "to" field. I did not check in other configurations.

[2020-12-17 13:24] yoavaviram opened #96 "Clicking the 'copy' button only copies the 'to' address."
I am the following configuration:
    window.mailgoConfig = {
      dark: true,
      details: {
        subject: false,
        body: false,
        to: false,
        cc: false,
        bcc: false,
      },
    };

When I click the 'copy' button and paste the text, all I see is the recipient's email address.

[2020-12-17 13:25] yoavaviram opened #97 "Dark theme is not supported with direct render."
I am the following configuration:
[code]

However the dark theme option has no affect.

[2020-12-17 13:28] yoavaviram opened #98 "Passing a dictionary with configuration options to the direct renderer had no affect when using direct render."
This does not work:
[code]
mailgo(mailgoConfig);

While this does:
[code]
mailgo();

[2020-12-17 14:35] yoavaviram commented on #90
I have opened issues for the relevant problems.

[2020-12-18 15:09] manzinello commented on #98
Hi @yoavaviram, sorry but `mailgoDirectRender` doesn't support 2 parameters, it supports only the link at the moment, it is normal that if you call `mailgoDirectRender(mailgoConfig, email);` it doesn't work. Maybe I have written wrong it in docs? Check here https://mailgo.dev/docs/direct-render and here https://mailgo.dev/docs/mailgo-exports. Maybe are you suggesting a new implementation/enhanceme

[2020-12-18 15:12] manzinello commented on #97
I think that you have to use

[code]

`window` is a global object, you have not to define it with `var`. Please, check this example (https://github.com/manzinello/mailgo/blob/master/examples/index.windowconfig.html). If something is not working let me know!

[2020-12-18 15:14] manzinello commented on #98
If you are suggesting to add a new `mailgoDirectRender` I will change the title of this issue (and the tag). Please, let me know.

[2020-12-18 15:16] manzinello commented on #96
It the correct behaviour. The `copy` is referring to the recipient's email address. In the most cases the mailto links are used with only a single `to:` address and so mailgo copy only that. If there are CC or other I don't know which behaviour will be the best, maybe copy all the parameters would be confusing... What do you think about?

[2020-12-18 15:22] manzinello commented on #95
I have to make more check on this, thank you for your issue!

[2020-12-18 15:24] manzinello commented on #98
I have made more test, it seems that there is something that is not working in the `mailgoDirectRender` with a window.config. Thank you so much for your messages, I have to work on this.

[2020-12-18 15:27] manzinello commented on #97
Re-open this, you are right, also testing without `var` it is not working. Thank you. I have to work on this.

[2020-12-18 15:32] manzinello commented on #97
I have already work on a solution for this. I have to test it and it will be in the next release. Thank you.

[2020-12-18 21:34] yoavaviram commented on #96
I was sure the copy refers to the body of the email...

[2020-12-30 15:14] yoavaviram commented on #97
Any idea when the next release is due?

Hope you have a happy new year!

[2021-01-04 08:17] manzinello commented on #97
Happy new year!

I think I will release a new version of mailgo this week!

[2021-01-11 08:27] manzinello commented on #97
I'm sorry, I am a bit in late with the release because I am also working on a completely new mailgo.dev (updated to Docusarus 2), I am working hard, I will try to release everything in this week.

[2021-01-11 08:51] yoavaviram commented on #97
Happy new year! no worries, thanks for the effort.

[2021-01-13 10:56] patricijab opened #100 "Does not work with empty recipient field"
This does not work:

`<a href="mailto:?subject=hello&body=how are you?">matteo@mailgo.dev</a>`

(when no recipient of the mail is specified)

[2021-01-13 11:03] manzinello commented on #100
Interesting, thank you, I have to work on this! Classic mailto works in this case

[2021-02-07 16:41] OliverRedman commented on #54
I've had a little play with the idea today and i've come across a few things,

firstly using full on Neumorphism may not be suitable for the current design of the layout, due to the lack of space between buttons it can lead to a cluttered look rather than the airy spacious feeling that is often associated with it. Example:
 <img width="265" alt="not subtle" src="https://user-images.githubuserconte

[2021-02-07 22:55] OliverRedman commented on #54
Here's an example of full on neumorphism with 20px of margin between each

<img width="273" alt="Screenshot 2021-02-07 at 22 26 19" src="https://user-images.githubusercontent.com/72112325/107161885-88247180-6997-11eb-866b-86e0afd756db.png">

[2021-02-17 02:34] Dannomac1 opened #101 "Copy button has larger padding than the rest of the buttons"
Hello,
I noticed the copy button has a much larger padding than the rest of the buttons. I am not sure if this is intentional but I thought I would report it just in case it wasn't.

[2021-02-17 07:55] manzinello commented on #97
Fixed in the latest version of mailgo! If something is now working please re-open this issue!

[2021-02-17 07:55] #97 closed

[2021-02-17 07:56] manzinello commented on #91
Closed due to inactivity, if you some updates please re-open this issue.

[2021-02-17 07:56] #91 closed

[2021-02-17 07:57] manzinello commented on #48
I am closing some old issues, if you want you can re-open it!

[2021-02-17 07:57] #48 closed

[2021-02-17 08:02] manzinello commented on #54
Thank you so much for your work! I think that the idea to add a space between buttons is perfect. I think that the last screen you have sent is really wonderful. What about the `box-shadow`? Can you send me the CSS you are using here? What about the dark mode? The box-shadows are the same?

No problem for the `hover` on mobile, what are the behaviour of the buttons in Neumorphism when they are not

[2021-02-17 08:03] #19 closed

[2021-02-17 15:26] OliverRedman commented on #54
Lovely to hear from you Matteo,

I submitted a pull request that includes the updated scss file for Neumorphism. I completed forgot about darkmode when I sent those screenshots, tomorrow I will update with the darkmode version.

[2021-02-17 18:38] manzinello commented on #54
Thank you so much for your work, really. I have built mailgo now and the neumorphism is now present in `index.neumorphism.html` under `examples` folder, it is already present as an attribute in configuration object

[2021-02-17 18:40] OliverRedman commented on #54
No problem, it was fun. Let me know if anything else comes up design wise, I'd be happy to contribute more

[2021-02-19 22:38] MikeyMJCO opened #104 "Custom actions?"
Is it possible for us to pass a link to MailGo as an option and have it rendered as a custom action?

For example, in the [CiviCRM integration](https://civicrm.org/extensions/commlink) it would be beneficial if we could replicate a core function when we override email links. That core function lets us create a CRM "activity" when clicking on an email. If we could add an "Open activity" action - we

[2021-02-22 16:01] manzinello commented on #104
I think that this will be a good enhancement, thank you for your proposal!

[2021-02-22 16:08] manzinello commented on #101
It is intentional! The very first idea of mailgo was only to copy the email address, then all the actions has been added.

Thank you anyway for your report. I close it at the moment, if someone else find this choice not so good or useful we can talk about a new design about the buttons.

[2021-02-22 16:08] #101 closed

[2021-02-22 16:13] manzinello commented on #95
Everything seems to work correctly now (see the `index.directrender.html` under examples), am I missing something?

[2021-02-23 10:07] yoavaviram commented on #95
I'm running with 11.3 and it seems fine so far, thanks!

[2021-02-23 10:09] manzinello commented on #95
Perfect! I close this issue. If there is something else about this re-open it!

[2021-02-23 10:09] #95 closed

[2021-03-29 13:55] gianantoniopini opened #105 "Export of validateEmail function"
It would be useful to be able to validate the To email using the same validation function used internally by mailgo.

As a consumer of the mailgo library, I would like to have the ability to validate the To email address using exactly the same validation function (i.e. same RegEx) that is used internally by mailgo. This is so that the user can be notified of an invalid To email address before the

[2021-03-29 13:56] manzinello commented on #105
Good idea! Submit directly your PR referring to this issue, thank you.

[2021-03-29 14:13] #105 closed

[2021-03-30 11:45] gianantoniopini opened #107 "Add unit tests"
It would be good to start adding some unit tests to this useful library.

I would be willing to work on this and submit a PR. For example I could start writing some unit tests for the mailgoDirectRender and mailgoValidateEmail functions, using Typescript and the React Testing Library.

Would this be a welcome addition?

[2021-03-30 12:14] manzinello commented on #107
I think that it is a very important point, thank you!

Absolutely yes! Proceed with the PR when you want, thank you so much!

[2021-03-30 12:24] gianantoniopini commented on #107
Ok, I will start looking into this. Thanks.

[2021-04-07 08:46] gianantoniopini commented on #104
I will work on this.

[2021-04-12 10:48] gianantoniopini commented on #104
Just would like to double check that what I have implemented so far (on my fork) would satisfy the requirements.

What I've done so far:
- new "custom" action can be enabled or disabled in the mailgo config (default is `true`, as for the other actions)
- when constructing the mailto links it is possible to provide two new attributes (`data-custom-action-text` and `data-custom-action-url`), for exa

[2021-04-12 10:49] homotechsual commented on #104
Absolutely :-) this is fantastic and fills the gap we had exactly :-)

[2021-04-12 10:51] gianantoniopini commented on #104
Great, good to know! I will submit a PR so my changes can be reviewed in more detail.

[2021-04-12 12:53] #104 closed

[2021-04-12 14:56] gianantoniopini opened #110 "Run unit tests automatically on each push or pull request"
It would be nice to have the unit tests run automatically any time someone pushes commits or creates a pull request.

This could be done via a new GitHub action.

If it could be a welcome addition, I would be happy to submit a PR for this.

[2021-04-14 10:57] manzinello commented on #104
Thank you again for your work @gianantoniopini! I have now added a new page in the docs to specify the instructions for the custom actions. If you want to help me to write it: https://mailgo.dev/docs/custom-actions. The file is a simple markdown file and it is this one: https://github.com/manzinello/mailgo.dev/blob/master/docs/custom-actions.md. If you can't no problem, I will write it. I am propo

[2021-04-14 11:23] gianantoniopini commented on #104
@manzinello Pleasure to be able to contribute! Yes I can help to write the docs related to custom actions. I will submit a PR with the additions to the custom-actions.md file.

[2021-04-14 13:15] gianantoniopini commented on #105
@manzinello Should we also update the docs for this new function export?

[2021-04-14 13:16] manzinello commented on #105
Yes, please! Thank you!
You can submit a PR on this page https://mailgo.dev/docs/mailgo-exports

[2021-04-14 13:19] gianantoniopini commented on #105
OK, will do.

[2021-04-14 14:01] gianantoniopini commented on #105
@manzinello Just noticed that the new mailgoValidateEmail function is not defined in the window element, like the other exported functions. It is something I've missed. Should I submit a PR to correct this?

[2021-04-14 14:15] manzinello commented on #105
Submit directly PR, thank you.

[2021-04-14 15:12] gianantoniopini commented on #105
OK, thank you.

[2021-04-15 09:23] manzinello commented on #110
A really good idea! Thank you so much.

[2021-04-15 09:41] gianantoniopini commented on #110
You are welcome! I will then submit a PR for this.

[2021-04-15 14:16] #110 closed

[2021-04-15 17:01] MikeyMJCO opened #113 "Custom action displayed even with `actions.custom` set to false."
Testing the new custom actions @gianantoniopini wrote (thanks again!)

but with this config:

[code]

I'm still getting a custom link being rendered:

![image](https://user-images.githubusercontent.com/2288257/114908984-8e5e2080-9e14-11eb-9154-33a08a7b2852.png)

[2021-04-15 17:15] manzinello commented on #113
Thank you for your report!

I think that the problem may be the line 907 on mailgo.ts

[code]

that not checks the `mailgoConfig`.

@gianantoniopini, what do you think about? If you can't work on this bug surely I will do it, thank you again for your big work.

[2021-04-15 17:16] homotechsual commented on #113
Side note but @gianantoniopini I really must thank you for this, it is already proving fantastically useful :-)

[2021-04-16 12:48] gianantoniopini commented on #113
Thank you, I will check this bug. It must be something I've missed. Strange tough as I even put in place a unit test for this scenario.

@manzinello Thanks for the hint, I will review that line of code.

[2021-04-16 12:49] homotechsual commented on #113
I did see the unit test for this - I'm not a TS expert but I have enough knowledge to just about understand the code :-)

[2021-04-16 13:03] gianantoniopini commented on #113
@MikeyMJCO I've just tried it with with test HTML:

[code]

and it works as expected: the custom link is not rendered. And if I change custom to `true` in the window.mailgoConfig then the custom link is rendered as expected.
Could you please also try it with the HTML above ?

[2021-04-16 13:29] gianantoniopini commented on #113
It seems like it works correctly when using window config, but does not work if the config is passed to the `mailgo` function.

[2021-04-16 13:44] manzinello commented on #113
I have to make some checks about this. The difference with in type of action is that it could be defined for a link but not for another (because the attributes are passed as `data-` in html), this is something that for the other actions is not present. The behaviour of other actions is to call a particular URL with particular parameters and then there is the configuration that give the possibility

[2021-04-16 13:53] homotechsual commented on #113
Yes @gianantoniopini it does seem to work correctly if I replicate your example. Unfortunately we're invoking this by passing the config to the `mailgo` function.

For this to work we'd either need to be able to pass the custom action in the config or enable/disable in the config and always have the custom action attributes present.

[2021-04-16 16:03] gianantoniopini commented on #113
I've started putting in place a unit test with the config passed to the `mailgo` function, setting the "custom" action to `false` and it actually seems to work as expected also in this scenario: the custom link is not rendered.
I will test this more next week.

[2021-04-19 14:08] gianantoniopini commented on #113
@manzinello I've checked line 907 in mailgo.ts :

`customAction.style.display = customActionText ? "block" : "none"; `

I believe that it is fine for this line of code to not check the `mailgoConfig` as that check is already performed in the `mailgoPreRender` function. The `mailgoPreRender` function sets the `customActionText` variable based on the value of the new "custom" config attribute and th

[2021-04-19 14:11] homotechsual commented on #113
Hi @gianantoniopini. We're including with `<script>` . I think that's what we're going to have to do. Check the config first and then unset the `data` attributes if the custom action is disabled in our settings.

[2021-04-19 14:13] homotechsual commented on #113
Not sure why the config as above isn't working though, my understanding is that it should be possible to have the `data-` attributes specified but override.

[2021-04-19 14:21] gianantoniopini commented on #113
@MikeyMJCO  I believe that if you are including mailgo with `<script>` and you want to specify your own configuration than you need to use `window.mailgoConfig`. The `mailgo(mailgoConfig?: MailgoConfig)` function should be used only if you are installing mailgo via npm/yarn. At least this is my understanding, but maybe @manzinello can correct me on this.

[2021-04-19 14:23] homotechsual commented on #113
The full code we're using is here: https://lab.civicrm.org/extensions/commlink

The `mailGo` library is in `node_modules` and we're initialising here: https://lab.civicrm.org/extensions/commlink/-/blob/master/js/commlink_contactsummary.js

So I mispoke earlier, we are using `window.mailgoConfig`

[2021-04-19 14:24] homotechsual commented on #113
I think I've spotted the issue :-)

We're calling `configure` after the functions run!

[2021-04-19 14:30] gianantoniopini commented on #113
I'm not sure if it is relevant, but check this [doc](https://mailgo.dev/docs/configuration#mailgo-configuration-in-window) . window.mailgoConfig needs to be set before the mailgo script is added (as in the sample HTML above).

[2021-04-19 14:32] homotechsual commented on #113
Yeah, now it works fine!

The issue the placement of our `mailgo.Configure()` call: https://lab.civicrm.org/extensions/commlink/-/blob/master/js/commlink_contactsummary.js#L110

[2021-04-19 14:34] gianantoniopini commented on #113
Aha! Ok, good to know it is working fine now :-)

[2021-04-19 14:56] homotechsual commented on #113
I'm going to close this - thanks for the help!

[2021-04-19 14:56] #113 closed

[2021-04-19 15:01] gianantoniopini commented on #113
You are welcome!

[2021-04-19 15:03] manzinello commented on #113
I've read everything now, I'm glad that the problem has been solved. Thank you so much!

[2021-04-19 15:12] gianantoniopini commented on #113
Investigating this issue prompted me to start putting in place some basic unit tests around configuration, i.e. specifying configuration via a parameter to the `mailgo` function or via window.mailgoConfig . This would be useful to start having some tests coverage around the configuration logic. So I will try to complete these tests in the next few days and submit a PR.

[2021-04-19 15:44] manzinello commented on #113
As always, thank you so much @gianantoniopini for your work.

[2021-04-20 07:45] gianantoniopini commented on #113
@manzinello My pleasure.

[2021-04-21 09:47] gianantoniopini opened #114 "Add unit tests around configuration"
It would be good to start adding some unit tests related to configuration.
We could start by writing some tests to verify that the mailgo configuration can be specified either via a parameter to the `mailgo` function, or by adding the `mailgoConfig` property to the `window` object.
These new tests can be placed in a new mailgo.configuration.test.ts file.

[2021-04-21 10:57] #114 closed

[2021-06-01 10:51] manzinello commented on #107
Hi @gianantoniopini, it seems that there is something that isn't working properly with tests (window and document). I've just updated the dependencies. I'm sorry and I can't work on this at the moment, can you help me? https://github.com/manzinello/mailgo/actions/runs/895410024 Otherwise I will go in depth with this problem as soon as I can. Thank you so much

[2021-06-02 08:15] gianantoniopini commented on #107
@manzinello No problem, I will check this.

[2021-06-02 08:20] manzinello commented on #107
Thank you so much!

[2021-06-02 14:38] gianantoniopini commented on #107
The issue was related to the update of Jest to version 27. In this new version of Jest the default test environment has been changed from "jsdom" to "node". See this https://jestjs.io/blog/2021/05/25/jest-27#flipping-defaults .
We were affected by this change because we use the DOM APIs and did not have the test environment explicitly configured. So I have configured "testEnvironment": "jsdom" in

[2021-06-02 14:48] manzinello commented on #107
Thank you!

[2021-06-02 14:48] gianantoniopini commented on #107
You are welcome :-)

[2021-06-02 14:48] #107 closed

[2021-09-07 03:33] aormsby commented on #53
I mean, the 'open default' choice already pulls up a selector for email apps on mobile (at least on Android). Can it just be set to always 'open default' on mobile devices?

[2021-09-28 09:52] adityaekbote opened #120 "Error when using mailgoDirectRender"
I have initialized mailgo with all the config. But the mailgoDirectRender function is broken.

`Uncaught TypeError: Cannot read properties of undefined (reading 'classList')
    at mailgoPreRender (mailgo.js?0de6:892)
    at mailgoDirectRender (mailgo.js?0de6:917)`

   The issue is with this line here:
[code]

I guess since i am directly calling the mailgo render via the mailgoDirectRender method,

[2021-09-28 10:34] manzinello commented on #120
Thank you so much for your report, I will work on it!

[2021-10-15 13:45] manzinello commented on #120
Hi! I've added a fix for this. I've already built a new version of the script, maybe can you make a check about the fix and tell me if everything works correctly now? Because if everything is fine I will close this issue and I will release a new version of mailgo with also this fix. Thank you.

[2021-11-02 22:38] butchewing opened #121 "Custom Actions with Tel Not Displayed"
I am wanting to add a custom action for a tel link. It does not display on Tel links but does on Mailto links.

This works
[code]

This does not
[code]

[2021-11-02 22:49] butchewing opened #122 "Set Tel Title"
It would be nice to use the <a>TEXT</a> as the Tel title by default.

[code]

https://cln.sh/Z7Fe83 instead of https://cln.sh/hLM5z9

[code]
[code]

It would be really nice to be able to explicitly set the title on the Tel modal.
[code]

[2021-11-03 09:10] manzinello commented on #121
Thank you so much, I have to look at this.

[2021-11-03 09:11] manzinello commented on #122
Really good idea! Thank you

[2021-11-08 10:25] devashish2024 commented on #96
The issue is easy!!
You can view the syntax of the JSON - We don't need to include any , (comma) at last values in JSON.
If not sure, try this syntax.
[code]

[2021-11-08 10:27] devashish2024 commented on #28
@manzinello Oh! Should try out to fix it. But can you please show in which folder/file is there the mailgo JS File?

[2021-12-03 11:11] yoavaviram commented on #96
Thanks, but I don't think this is relevant to this issue.

[2021-12-03 18:46] devashish2024 commented on #96
Sorry If it didn't solve your issue. I've show the different code, because you've added seperated commas in each items including at last that's not included commonly. That's called a code type mistake.

[2021-12-03 18:46] devashish2024 commented on #96
Oh yeah, There's a error. Sorry for wrong answer.

[2022-04-15 15:17] manzinello opened #129 "Fix code scanning alert - DOM text reinterpreted as HTML"
Tracking issue for:
- [ ] https://github.com/manzinello/mailgo/security/code-scanning/10